<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>EQUIPOS</title>
<link rel="stylesheet" href="css/estilos.css" />
</head>

<body>
	<div id="contenedor">
		<header>
			<h1>Liga de futbol Profesional</h1>
		</header>

		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="fixture.html" target="_blank">Fixture y
						resultados</a></li>
				<li><a href="equipos.html" target="_blank">Equipos</a></li>
			</ul>
		</nav>

		<section id="contenido">
			<section class="contenedor-columnas">
				<img id="equipo" alt="" src="img/escudo7.png">
				<p id="club">
					El Real Madrid Club de Fútbol, más conocido como Real
					Madrid, es una entidad polideportiva con sede en Madrid, España.
					Fue declarada oficialmente registrada como club de fútbol por sus
					socios el 6 de marzo de 1902 con el objeto de la práctica y
					desarrollo de este deporte si bien sus orígenes datan al año 1900,
					y su denominación de (Sociedad) Madrid Foot-ball Club a noviembre
					de 1901 siendo el quinto club fundado en la capital. Tuvo a Julián
					Palacios y los hermanos Juan Padrós y Carlos Padrós como
					principales valedores de su creación. <br> <img id="equipo"
						alt="" src="img/escudo7.png">
				<p id="club">El Real Madrid Club de Fútbol, más conocido
					como Real Madrid, es una entidad polideportiva con sede
					en Madrid, España. Fue declarada oficialmente registrada como club
					de fútbol por sus socios el 6 de marzo de 1902 con el objeto de la
					práctica y desarrollo de este deporte si bien sus orígenes datan al
					año 1900, y su denominación de (Sociedad) Madrid Foot-ball Club a
					noviembre de 1901 siendo el quinto club fundado en la capital. Tuvo
					a Julián Palacios y los hermanos Juan Padrós y Carlos Padrós como
					principales valedores de su creación.
			</section>
		</section>

		<aside id="auspicio">
			<h2 style="text-align: center; background-color: #4BACE0">Auspiciantes</h2>
			<br></br>
			<img id="auspicio-1" src="img/aus1.png"> 
			<br></br>
			<img id="auspicio-1" src="img/aus2.png"> 
			<br></br>
			<img id="auspicio-1" src="img/aus3.png">
		</aside>

		<footer>
			<h2>Brian Emanuel Flores Lu: 3282</h2>
		</footer>
	</div>
</body>
</html>